body {
    overflow: hidden;
}

div.rose {
    position: absolute;
}

div#interact {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

circle.selector {
    stroke: black;
    fill: transparent;
}

path.selector {
    stroke: rgba(255, 184, 28, 1);
    fill: rgba(255, 184, 28, .3);
}

div.destination {
    font-size: 2em;
    font-weight: bold;
    left: 0;
    position: absolute;
    text-align: center;
    top: 1em;
    width: 100%;
    z-index: 1000;
}

div.fog {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(131, 133, 247, .2);
    z-index: 1500;
}

div.banner {
    background-color: rgba(195, 196, 251, .8);
    border-color: rgba(131, 133, 247, 1);
    border-style: solid none;
    border-width: .2em;
    color: rgba(131, 133, 247, 1);
    font-weight: bold;
    font-size: 2em;
    left: 0;
    padding: 1em;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
}

circle.destination {
    stroke: rgba(255, 184, 28, 1);
    stroke-width: 5px;
    fill: rgba(255, 184, 28, .3);
    display: none;
}

div.difficulty {
    position: absolute;
    top: 20%;
    left: 0;
    text-align: center;
    z-index: 1500;
}

div.difficulty h2 {
    background-color: rgba(161, 163, 247, 1);
    border-color: rgba(161, 163, 247, 1);
    border-style: solid;
    border-top-left-radius: 1.2em;
    border-top-right-radius: 1.2em;
    border-width: 1px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    padding: .5em;
}

div.difficulty button {
    background-color: rgba(213, 213, 251, 1);
    border-color: rgba(161, 163, 247, 1);
    border-style: solid;
    border-width: 1px;
    font-size: 1.2em;
    padding: .5em;
    width: 100%;
}

div.difficulty button.active {
    font-weight: bold;
}