body {
  overflow: hidden; }

div.rose {
  position: absolute;
  display: table;
  margin: 0 auto; }

div#interact {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }
  div#interact circle.destination {
    stroke: #ffb81c;
    stroke-width: 5px;
    fill: rgba(255, 184, 28, 0.3);
    display: none; }
  div#interact circle.selector {
    stroke: black;
    fill: transparent; }
  div#interact path.selector {
    stroke: #ffb81c;
    fill: rgba(255, 184, 28, 0.3); }

div.question {
  color: #6567d9;
  font-size: 2em;
  font-weight: bold;
  left: 0;
  position: absolute;
  text-align: center;
  top: 1em;
  width: 100%;
  z-index: 1000; }

div.fog {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1002; }
  div.fog div.banner {
    background-color: rgba(195, 196, 251, 0.9);
    border-color: #6567d9;
    border-style: solid none;
    border-width: 0.2em;
    color: #6567d9;
    font-weight: bold;
    font-size: 2em;
    left: 0;
    padding: 1em;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%; }
    div.fog div.banner .origin {
      color: black; }

div.menu {
  display: none;
  position: absolute;
  top: 20%;
  left: 0;
  text-align: center;
  z-index: 1001; }
  div.menu h2 {
    background-color: #6567d9;
    border-color: #6567d9;
    border-style: solid;
    border-top-right-radius: 1.2em;
    border-width: 1px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    padding: 0.5em; }
  div.menu button {
    background-color: rgba(195, 196, 251, 0.9);
    border-color: #6567d9;
    border-style: solid;
    border-width: 1px;
    font-size: 1.2em;
    padding: 0.5em;
    width: 100%; }
  div.menu div:last-of-type > button {
    border-bottom-right-radius: 1.2em; }
  div.menu button.active {
    font-weight: bold; }

div.difficulty, div.course {
  margin: 0.5em 0em; }

div.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  z-index: 1003; }
  div.footer .text {
    color: black;
    font-size: 0.9em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-style: solid solid none solid;
    border-color: #6567d9;
    border-width: 1px;
    padding: 0.5em; }
